@media screen and (min-width: 800px) and (max-width: 1209px){
    .side-bar{
      width: 60px;
    }
    .widget{
      border: none;
      padding: 0;
    }
    .icon{
        align-items: center;
      }
    .menu-item{
      flex-direction: column;
      align-items: flex-start;
      font-size: 10px;
    }
    .ghost{
      display: none;
    }
  }

  @media screen and (max-width: 800px) {
      .side-bar{
          display: none;
      }
      
  }