*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    padding: 30px;
    border: 2px solid red;
    height: 20px;
}

main{
    display: flex;
    border: 2px solid black;
    flex-grow: 1;
}

.barra-sinistra{
    padding: 20px;
    width: 240px;
    border: 2px solid orange;
}

.container-principale{
    flex-grow: 1;
    padding: 20px;
    border: 2px solid blue;
}