@media screen and (max-width: 1209px){
    .side-bar{
      width: 60px;
    }
    .widget{
      border: none;
      padding: 0;
    }
    .icon{
        align-items: center;
      }
    .menu-item{
      flex-direction: column;
      align-items: flex-start;
      font-size: 10px;
    }
    .ghost{
      display: none;
    }
  }
  

  
  @media screen and (min-width: 1127px){
    .play-list{
      flex-wrap: wrap;
    }
    .play-list-item{
      width: 24%;
    }
  }
  
  @media screen and (min-width: 850px) and (max-width: 1127px){
    .play-list{
      flex-wrap: wrap;
    }
    .play-list-item{
      width: 31%;
    }
  }
  
  @media screen and (min-width: 500px) and (max-width: 850px){
    .play-list{
      flex-wrap: wrap;
    }
    .play-list-item{
      width: 48%;
    }
  }
  
  @media screen and (max-width: 500px){
    .play-list{
      flex-wrap: wrap;
    }
    .play-list-item{
      width: 100%;
    }
  }